<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pizzacodeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PizzaCodeAPP">
        <activity android:name=".EditProductsAdminActivity"
            android:parentActivityName=".MainAdminActivity"
            android:label="Editing Products">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainAdminActivity" />
        </activity>
        <activity
            android:label="Adding Products"
            android:name=".AddProductsAdmin"
            android:parentActivityName=".MainAdminActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainAdminActivity" />
        </activity>
        <activity android:name=".MainAdminActivity"

            android:label="Pizza Code App Admin"
            />
        <activity android:name=".ResetPassActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>